.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-top: 50px;
}

.loginLogo {
  width: 250px;
}

.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 250px;
}

.loginInput {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px;
  width: 236px;
}

.loginSubmit {
  background-color: #F0131E;
  border: 1px solid #F0131E;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  width: 100%;
}
